<div class="container">
  <h1>Kids list</h1>

  <div class="cards">
      <% @kids.each do |kid| %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.6)), url()">
          <%= link_to kid.name, kid_path(kid) %>
        </div>
      <% end %>
  </div>
  <hr>
  <%= link_to 'Add a kid', new_kid_path(@kid), class: "btn btn-flat" %>
</div>
