#checkout {
  background-color: #D7E2D5;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

#checkout {
  background-color: #D7E2D5;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.checkout h3{
  font-size: 36px;
  font-weight: bold;
  color: white;
}

.checkout-details {
  border-radius: 8px;

}