<h1>Dashboard</h1>

<div class="dashboard">
  <div class="demand-stat main-card-review">

    <div class="box-border">
      <h3>Pending demands</h3>
      <div class="demand card-review" id="card-1" >
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
        <div class="card-pending-demand">
            <p>Marie-Laure </p>
            <h2>Booking: from 19/04 13:00 to 17:00</h2>
            <p>Hello! I’m highly interested in renting Ben for building an étagère! Thanks</p>
          </div>
      </div>
      <div class="demand card-review" >
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
        <div class="card-pending-demand">
            <p>Marie-Laure </p>
            <h2>Booking: from 19/04 13:00 to 17:00</h2>
            <p>Hello! I’m highly interested in renting Ben for building an étagère! Thanks</p>
          </div>
      </div>
    </div>

    <div class="box-stat box-border">
      <h3>My stats</h3>
      <div class="block" >
        <div class="detail">
            <h4>4,9</h4>
            <p>Evalutation</p>
        </div>
        <div class="detail">
            <h4>47</h4>
            <p>Total comments</p>
        </div>
        <div class="detail">
            <h4>98 %</h4>
            <p>Respsonse rate</p>
        </div>
        <hr>
        <div class="detail">
            <h4>235,00 €</h4>
            <p>Revenue last month</p>
        </div>
        <div class="detail" id="border-detail">
            <h4>78</h4>
            <p>Views</p>
        </div>
        <div class="detail">
            <h4>3</h4>
            <p>Booking this month</p>
        </div>
      </div>
    </div>
  </div>

  </div>

  <div class="notification-manage">

      <h3>Notifications</h3>
      <div class="notification" >
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
          <div class="card-review-infos">
            <p>Maurice</p>
            <h2>Product name</h2>
            <p>Product description withrelevant info only.</p>
          </div>
      </div>


    <h3>Manage my kid</h3>
      <div class="notification" >
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
          <div class="card-review-infos">
            <p>Maurice</p>
            <h2>Product name</h2>
            <p>Product description withrelevant info only.</p>
          </div>
      </div>


  </div>

</div>
