<h1>Dashboard</h1>

<div class="dashboard">
  <div class="demand-stat">

    <h3>Pending demands</h3>
    <div class="demand" >
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
        <div class="card-review-infos">
          <p>Marie-Laure </p>
          <h2>Booking: from 19/04 13:00 to 17:00</h2>
          <p>Hello! I’m highly interested in renting Ben for building an étagère! Thanks</p>
        </div>
    </div>
    <div class="demand" >
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
        <div class="card-review-infos">
          <p>Marie-Laure </p>
          <h2>Booking: from 19/04 13:00 to 17:00</h2>
          <p>Hello! I’m highly interested in renting Ben for building an étagère! Thanks</p>
        </div>
    </div>


    <h3>My stats</h3>
    <div class="stat" >
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
        <div class="card-review-infos">
          <p>Maurice</p>
          <h2>Product name</h2>
          <p>Product description withrelevant info only.</p>
        </div>
    </div>
  </div>

  <div class="notification-car">

    <h3>Notifications</h3>
    <div class="div-notification" >
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
        <div class="card-review-infos">
          <p>Maurice</p>
          <h2>Product name</h2>
          <p>Product description withrelevant info only.</p>
        </div>
    </div>
  </div>

  <h3>Manage my kid</h3>

</div>
