<div class="footer">
  <div class='container'>
    <h3>About</h3>
    <p>Our story</p>
    <p>Gift cards</p>
    <p>Child labor</p>
    <p>Responsibility</p>
    <p>Terms and conditions</p>
  </div>
  <div class='container'>
    <h3>Parents</h3>
    <p>Who are they</p>
    <p>Biggest contributors</p>
    <div class='social'>
      <h3>Social</h3>
      <div class="footer-links">
        <a href="#"><i class="fab fa-facebook"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
      </div>
    </div>
  </div>
  <div class='container'>
    <h3>Partners</h3>
    <%= link_to "#", class: "logo-link" do %>
      <%= image_tag "UNICEF.png" %>
    <% end %>
  </div>
</div>