
.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background-color: #1EDD88;
  transition: background-color 0.3s ease;
  width: max-content;
}

.btn-flat:hover {
  background-color: #1BCB7F;
  color: white;
}

.btn-ghost {
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 1;
}
