.footer {
  width: 100%;
  background: white;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 200px;
  padding: 10px 10px 50px 200px;
  color: rgba(31, 30, 30, 0.692);
  margin-top: 20px;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: rgb(56, 56, 56);
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}

.logo-link img {
  width: 150px;
}

.social {
  display: flex;
  align-content: stretch;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

.footer p {
  margin: 5px 0;
}
#about h3 {
  text-align: left;
}
#parents h3 {
  text-align: left;
}
#partners h3 {
  text-align: left;
}
#social h3 {
  text-align: left;
}