.footer {
  background: #b4b2b2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(31, 30, 30, 0.692);
  margin-top: 20px;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: rgb(56, 56, 56);
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}