.header {
  background-image: url(hand-bcg.png);
  background-size: cover;
  background-position: bottom;
  display: flex;
  width: 100vw;
  height: 80vh;
  min-width: -webkit-fill-available;
  justify-content: space-around;
    a {
      color: white;
      background-color: $button;
      border-radius: 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 200px;
  }
}


.text_header {
  min-width: 75%;
  display: flex;
  justify-content: space-between;
  padding-right: 20%;
}
.brand {
  max-width: 320px;
  max-height: 400px;
  flex-direction: column;
  display: flex;
  justify-content: space-around;
  margin-bottom: 100px;
  z-index: 5;
  position: relative;
  h3 {
  backdrop-filter: blur(10px);
  }

}

.big-btn {
  width: 180px;
  height: 50px;
  color: #D17D67;
  font-size: 1.25rem;
  flex-direction: row-reverse;
}


// BLUR BACKGROUND



// CHILD ANIMATION

.animation-area{
  width: 100%;
  height: 600px;
}

.child-area{
  position: absolute;
  filter: brightness(120%);
  top: 0;
  left: 0;
  z-index: -20;
  width: 100%;
  height: 100px;
  animation-name: child;
  animation-duration: 6s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}


@keyframes child {
  0%   {
    left:10%;
    top:300px;
    transform: rotate(0deg);
  }
  100% {
    left:43%;
    top:1200px;
    transform: rotate(90deg);
  }

}

